<app-base-modal>
  <div title>Change Password</div>
  <div body>
    <mat-form-field appearance="fill" [formGroup]="passwordForm">
      <mat-label>Your password</mat-label>
      <input
        matInput
        type="password"
        formControlName="oldPassword"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" [formGroup]="passwordForm">
      <mat-label>New password</mat-label>
      <input
        matInput
        type="text"
        formControlName="newPassword"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" [formGroup]="passwordForm">
      <mat-label>Repeat password</mat-label>
      <input
        matInput
        type="text"
        formControlName="reNewPassword"
        autocomplete="off"
      />
    </mat-form-field>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  <div buttons>
    <button mat-raised-button (click)="closeModal()" class="back">back</button>
    <button mat-raised-button (click)="saveElement()" class="save">save</button>
  </div>
</app-base-modal>
