/* You can add global styles to this file, and also import other style files */
:root{
  //BRAND COLORS
  --blue-dark-color: ;
  --blue-medium-color: ;
  --blue-light-color: ;

  
  //COMPLEMENTARY COLORS
  --gold-color:      ;
  --secondary-color:    ;

  --grey-01-color:         #454545;
  --grey-02-color:         #828282;
  --grey-03-color:         #a5a5a5;
  --grey-04-color:         #c1c1c1;
  --grey-05-color:         #f3f3f3;
  
  //NOTIFICATION COLORS
  --success-color:         #46b450;
  --information-color:     #5aaafa;
  --error-color:           #d93025;
  --warning-A-color:       #ffc201;
  --warning-B-color:       #ff880d;

  //OPACITY COLORS
  --black-color-opacity-15: #1F1F1F26;
  --black-color-opacity-35: #1F1F1F59;
  --black-color-opacity-45: #1F1F1F72;


  // FONT SIZES
  --text-xs: 11px;
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 18px;
  --text-2xl: 24px;
}