//00-SETTINGS
@import "./styles/00-SETTINGS/global";
@import "./styles/00-SETTINGS/normalize";

//01-TOOLS
@import "./styles/01-TOOLS/mixins";

//02-GENERIC

//03-ELEMENTS

//04-OBJECTS

//05-COMPONENTS
@import "./styles/05-COMPONENTS/navbar";
@import "./styles/05-COMPONENTS/in-construction";
@import "./styles/05-COMPONENTS/user-avatar";
@import "./styles/05-COMPONENTS/dropdown";
@import "./styles/05-COMPONENTS/breadcrumb";
@import "./styles/05-COMPONENTS/user-form";
@import "./styles/05-COMPONENTS/login-view";
@import "./styles/05-COMPONENTS//card";

//06-TRUMPS

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
