<div class="pagination">
  <div class="icon">
    <fa-icon [icon]="lastIcon" (click)="lastPage()"> </fa-icon>
  </div>
  <div class="pages">
    <div
      *ngFor="
        let numberPage of [].constructor(paginationFilter.totalPages);
        let i = index
      "
    >
      <div
        [ngClass]="{ 'selected-page': i === paginationFilter.pageNumber }"
        (click)="selectPage(i)"
      >
        {{ i + 1 }}
      </div>
    </div>
  </div>
  <div class="icon">
    <fa-icon [icon]="nextIcon" (click)="nextPage()"> </fa-icon>
  </div>
  <div class="pagination--select"></div>
</div>
