.breadcrumb {
  background: none;
  font-size: var(--text-lg);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 60px;
  a,
  span {
    color: darkgrey;
  }
  a:hover,
  span:hover {
    color: dimgrey;
    text-decoration: none;
    cursor: pointer;
  }
  li {
    list-style: none;
    float: left;
    margin: 5px;
  }
  li:last-child {
    margin-right: 20px;
  }
  li::after {
    content: "/";
    color: darkgrey;
  }
  li:last-child::after {
    content: "";
  }
}
