.in-construction {
  margin: auto;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;

  img {
    width: 300px;
  }

  &--message {
    font-size: var(--text-2xl);
    font-family: Caveat;
  }
}
