.navbar{
  width: 100vw;
  height: 6vh;
  display: grid;
  grid-template-columns: 3fr 10fr 1fr ;

  align-items: center;
  padding: 0px 50px;
  background-color: var(--blue-dark-color);

  &--logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
      position: relative;
      width: 60px;
      color: white;
      filter:brightness(100);
    }
    .page-name{
      color: var(--gold-color);
      font-family: CaviarDreams;
      font-weight: 600;
    }
  }

  &--options{
    position: relative;
  }

  &--user{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100px;
  }
}