.navbar {
  width: 100vw;
  height: 70px;
  display: grid;
  grid-template-columns: max-content 10fr 1fr;
  gap: 50px;
  user-select: none;
  align-items: center;
  padding: 0px 50px;
  background-color: var(--blue-dark-color);

  &--logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      position: relative;
      width: 60px;
      max-height: inherit;
      color: white;
      filter: brightness(100);
    }
    .page-name {
      @include secondaryTitle;
    }
  }

  &--options {
    @include secondaryTitle;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    color: white;

    .option {
      border-bottom: 3px solid transparent;
      &:hover {
        cursor: pointer;
        border-bottom: 3px solid var(--gold-color);
        text-shadow: 1px 1px 2px var(--gold-color);

        .option-dropdown {
          display: block;
        }
      }
    }

    .currentRoute {
      border-bottom: 3px solid var(--gold-color);
      text-shadow: 1px 1px 2px var(--gold-color);
    }

    .option-dropdown {
      display: none;
      position: absolute;
      bottom: 3px;
    }

    .icon {
      color: var(--gold-color);
    }
  }

  &--user {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100px;
  }
}
