.wrapper {
  min-height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .profile {
    width: 70vw;
    min-height: 675px;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    margin: auto;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px var(--blue-dark-color);
    animation: fadeIn 2s;

    &--header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 280px;

      &--avatar {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &--user-info {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &--content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &--phone {
        height: 70px;
        background-color: bisque;
      }
      &--address {
        height: 70px;
        background-color: bisque;
      }
      &--social {
        height: 70px;
        background-color: bisque;
      }
      &--adoptions {
        height: 70px;
        background-color: bisque;
      }
    }
  }

  .profile-accordion {
    display: block;
    width: 100%;
    height: 100%;
  }

  .profile-accordion-item {
    display: block;
    border: solid 1px var(--grey-05-color);
    background-color: var(--blue-light-color);
    color: var(--blue-dark-color);
    font-family: Catamaran;
    font-size: large;
    font-weight: 600;
  }

  .profile-accordion-item + .profile-accordion-item {
    border-top: none;
  }

  .profile-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    user-select: none;
  }

  .profile-accordion-item-description {
    color: var(--blue-dark-color);
  }

  .profile-accordion-item-header,
  .profile-accordion-item-body {
    padding: 16px;
  }

  .profile-accordion-item-body {
    background-color: white;
    color: black;
  }

  .profile-accordion-item-header:hover {
    cursor: pointer;
    background-color: var(--blue-dark-color);
    color: var(--gold-color);
    .profile-accordion-item-description {
      color: var(--gold-color);
    }
  }

  .profile-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .profile-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
