.user-avatar {
  display: flex;
  align-items: center;

  .dropdown {
    display: none;
  }

  .image-container {
    display: flex;
    flex-direction: column;
  }
  .image-container:hover {
    .dropdown {
      display: block;
      overflow-x: hidden;
      cursor: pointer;
    }
  }
}
.avatar {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 100px;
}
.user-email {
  @include baseTitle(white);
  margin-right: 10px;
}
